* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

:root {
  /* ## Colors

### Primary */

  --Green-200-lighter: hsl(148, 38%, 91%);
  --Green-600-medium: hsl(169, 82%, 27%);
  --Red: hsl(0, 66%, 54%);

  /* ### Neutral */

  --White: hsl(0, 0%, 100%);
  --Grey-500-medium: hsl(186, 15%, 59%);
  --Grey-900-darker: hsl(187, 24%, 22%);
}

body {
  min-height: 100vh;
  width: 100%;
}

.error {
  color: var(--Red);
  font-size: 0.8rem;
}

.message-active {
  visibility: hidden;
}
